VITE_PAYPHONE_TOKEN=aca_tu_token
VITE_PAYPHONE_STORE_ID=tu_storeid
VITE_PAYPHONE_AMOUNT_CENTS=315
VITE_PAYPHONE_CURRENCY=USD
VITE_PAYPHONE_LAT=-1.831239
VITE_PAYPHONE_LNG=-78.183406
VITE_PAYPHONE_TIMEZONE=-5
VITE_PAYPHONE_REFERENCE=Desbloqueo de resultado de calculadora
VITE_PAYPHONE_PHONE=+593999999999
VITE_PAYPHONE_EMAIL=aloy@mail.com
VITE_PAYPHONE_DOCUMENT_ID=1234567890
VITE_PAYPHONE_IDENTIFICATION_TYPE=1
